lifewatch-pypam==0.3.0

boto3==1.34.23
google-cloud-storage==2.14.0
dataclasses-json==0.6.3
python-dateutil==2.8.2
pyyaml==6.0.1
marshmallow==3.20.2
# lifewatch-pypam  # when published
soundfile==0.12.1

# quickly tried it but got: AttributeError: module 'xarray_extras' has no attribute 'csv'
# xarray-extras==0.5.0

# So we use it as engine for xarray to store time variable as int64
h5netcdf==1.3.0

# netCDF4==1.6.3  # in case of loading netCDF4 files

pvlib==0.10.3

## dev dependencies
mypy==1.8.0
ruff==0.1.14
pytest==7.4.4
syrupy==4.6.0
