boto3==1.26.156
dataclasses-json==0.5.8
python-dateutil==2.8.2
marshmallow==3.19.0
# lifewatch-pypam  # when published
soundfile==0.12.1

# quickly tried it but got: AttributeError: module 'xarray_extras' has no attribute 'csv'
# xarray-extras==0.5.0

# netCDF4==1.6.3  # in case of loading netCDF4 files

## dev dependencies
mypy==1.4.0
ruff==0.0.272
ufmt==2.1.0
pylint==2.17.4
pytest==7.3.2
syrupy==4.0.4
