dataclasses-json==0.5.7
marshmallow==3.19.0
# lifewatch-pypam  # when published
soundfile==0.12.1

# quickly tried it by got: AttributeError: module 'xarray_extras' has no attribute 'csv'
# xarray-extras==0.5.0

# netCDF4==1.6.3  # in case of loading netCDF4 files

## dev dependencies
mypy==1.1.1
ruff==0.0.254
ufmt==2.0.1
pylint==2.17.0
pytest==7.2.2
syrupy==4.0.1
