name: ci

on:
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        # python-versions: [ "3.8", "3.9", "3.10" ]
        python-versions: [ "3.11" ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-versions }}
      - uses: extractions/setup-just@v3
      - run: sudo apt-get install libsndfile1
      - run: just install-poetry
      - run: poetry install

      - run: PYTHONPATH=. poetry run pytest
      - run: just format-check
      - run: just lint-check
      - run: just ty
